# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
.ruff_cache/

# Env
.env
*.env

# ChromaDB local data
backend/chroma_data/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Neo4j local data
neo4j_data/

# OS
.DS_Store
